@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Emprestimos Online</strong></h1>
    <p> <i class="bi bi-journal-bookmark-fill"></i> Abra um livro, deixe-se levar. Um novo mundo você vai encontrar.</p>
    <div>
       <img src="/img/Book.png" alt="Alternate Text" />
    </div>  
</div>